// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@font-face {
    font-family: sansRegular;
    src: url(../fonts/PT_Sans/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family: gen;
    src: url(../fonts/Gentium_Book_Basic/GenBkBasR.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}