// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@font-face {
    font-family: sansRegular;
    src: url(../fonts/PT_Sans/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family: gen;
    src: url(../fonts/Gentium_Book_Basic/GenBkBasR.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

body {
    background: #fff;
    font-family: sansRegular;
}

.header {
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    font-family: sansRegular;
    font-size: 13px;
    line-height: 12px;
}

.inner-header-1 {
    flex: 3;
}

.inner-header-2 {
    flex: 1;
}

.main-logo {
    width: 100%;
    height: 100%;
}

.main-logo-inner {
    width: 100%;
    height: 70px;
    background: url(/images/abhiy-logo.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.inner-header-3 {
    flex: 3;
    display: flex;
    justify-content: space-around;
    a {
        color: #787878;
    }
    a:hover {
        color: #d1d1d1;
    }
}

.inner-header-4 {
    display: none;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 99;
    background: rgba(255, 212, 0, 0.5);
    height: calc(100% - 70px);
    font-size: 30px;
    display: none;
    a {
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.09);
    }
}

.mob-nav {
    // height: 20%;
    height: 20%;
    width: 100%;
    z-index: 1000;
    border: 1px solid rgba(216, 83, 72, 0.2);
    display: flex;
}

.mob-nav-left {
    flex: 3;
    align-self: center;
    text-align: right;
}

.mobile-nav-left1 {
    background: url(/images/work.png);
}

.mobile-nav-left2 {
    background: url(/images/about.png);
}

.mobile-nav-left3 {
    background: url(/images/blog.png);
}

.mobile-nav-left4 {
    background: url(/images/resume.png);
}

.mobile-nav-left5 {
    background: url(/images/contact.png);
}

.mobile-nav-left {
    flex: 3;
    align-self: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-position: right;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.mobile-nav-right {
    flex: 5;
    text-align: left;
    text-indent: 10px;
    align-self: center;
}

.nav-button {
    width: 70px;
    height: 70px;
    background: #D85348;
    border-radius: 100%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    text-align: center;
    line-height: 85px;
    color: white;
    z-index: 9999;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

@media all and (max-width: 500px) {
    .mob-nav {
        line-height: 15vh;
    }
    .nav-button {
        display: block;
    }
}

.navEmpty {
    flex: 2;
}

.nav {
    align-self: center;
    flex: 1;
    cursor: pointer;
}

.container {
    position: fixed;
    border: 7px solid #eeeeee;
    width: 93%;
    margin-left: 3.5%;
    height: calc(100vh - 105px);
    font-size: 13px;
}

.leftLine {
    display: flex;
    width: calc(100vh - 70px);
    transform: rotate(-90deg);
    transform-origin: 0 0;
    margin-top: calc(100vh - 105px);
    margin-left: 5%;
    // margin-left: -220px;
    left: 0%;
    position: fixed;
    color: #787878;
    a {
        color: #787878;
    }
    a:hover {
        color: #d1d1d1;
    }
}

.leftAbout1 {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.iconrotate {
    transform: rotate(90deg);
}

.leftAbout2 {
    flex: 2;
    display: flex;
}

.thinLine {
    width: 100%;
    height: 1px;
    background: #d1d1d1;
    align-self: center;
}

.leftAbout3 {
    flex: 5;
    text-align: center;
}

.leftAbout4 {
    flex: 4;
}

@media all and (max-width: 500px) {
    .container {
        border: 0;
        width: 100%;
        margin: 0px;
        min-height: 100%;
    }
    .inner-header-3 {
        display: none;
    }
    .inner-header-4 {
        display: block;
        flex: 3;
        font-size: 17px;
        text-align: center;
        align-self: center;
        a {
            color: #787878;
        }
        a:hover {
            color: #d1d1d1;
        }
    }
    .header {
        border-bottom: 2px solid #d1d1d1;
    }
    .leftLine {
        margin-top: 86vh;
    }
    .leftAbout2 {
        display: none;
    }
    .leftAbout1 {
        display: none;
    }
}

// nav button
button:focus,
button:active {
    outline: none;
}

// background: #CE4E4E;
.menu-icon-wrapper {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // margin: -12px 0px 0px -12px;
    // width: 34px;
    // height: 34px;
    // pointer-events: none;
    // transition: 0.1s;
    position: fixed;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background: #D85348;
    border-radius: 100%;
    right: 10px;
    bottom: 10px;
    z-index: 9999;
    box-shadow: 0px 0px 50px rgba(255, 0, 0, 0.5);
    border: 2px solid yellow;
    display: none;
}

@media all and (max-width: 500px)   {
    .menu-icon-wrapper  {
        display: block;
    }
}

.menu-icon-wrapper svg {
    position: absolute;
    margin: -15px;
    transform: scale(0.1);
    transform-origin: 0 0;
}

.menu-icon-wrapper svg path {
    stroke: #fff;
    stroke-width: 60px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
    transition: stroke-dasharray 0.5s;
}

.menu-icon-wrapper svg path.path1 {
    stroke-dashoffset: 5803.15px;
    stroke-dasharray: 2901.57px, 2981.57px, 240px;
}

.menu-icon-wrapper svg path.path2 {
    stroke-dashoffset: 800px;
    stroke-dasharray: 400px, 480px, 240px;
}

.menu-icon-wrapper svg path.path3 {
    stroke-dashoffset: 6993.11px;
    stroke-dasharray: 3496.56px, 3576.56px, 240px;
}

.menu-icon-wrapper.open svg path.path1 {
    stroke-dasharray: 2901.57px, 5258.15px, 240px;
}

.menu-icon-wrapper.open svg path.path2 {
    stroke-dasharray: 400px, 600px, 0px;
}

.menu-icon-wrapper.open svg path.path3 {
    stroke-dasharray: 3496.56px, 6448.11px, 240px;
}

.menu-icon-wrapper .menu-icon-trigger {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: default;
}


.inner-container    {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-inner-container   {
    height: 100%;
    flex: 2;
    background: url(/images/me5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.right-inner-container  {
    height: 100%;
    flex: 1;
}

.main-page-heading  {
    margin-left: 20%;
    margin-top: 15%;
    // color: #474747;
    // font-size: 50px;
    font-family: gen;
    // font-size: 63px;
    font-style: normal;
    // font-weight: 400;
    // line-height: 59px;
}

.main-page-heading1 {
    font-size: 40px;
    color: #9B9B9B;
    font-weight: 100;
}

.main-page-heading2 {
    color: #474747;
    font-size: 63px;
    font-style: normal;
    font-weight: 400;
    line-height: 59px;
}

.fa-less    {
    display: none;
}

@media all and (max-width: 500px)   {
    .fa-less    {
        display: block;
    }
    .fa-more    {
        display: none;
    }
}

